html, body, .react-datepicker > * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
}

html {
    position: relative;
    min-height: 100%;    
}
body{
    font-family: roboto;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
}

.clear {
    clear: both;
}
hr{
    height: 2px;
    background-color: $secondary;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.full-round{
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: $primary;
    background-size: auto auto;
    background-size: auto auto;
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background-size: 32px 32px;
    position: relative;
    display: inline-block;
}

// customize
.react-datepicker__time-list{
    padding: 0;
}

.react-datepicker__time-container{
    width: 100px;
}

.react-datepicker__time-list .react-datepicker__time-list-item {
    width: 100px;
    text-align: left;
}

//

.txt-white {
    color: #FFF;
}

.scroll-list-custom::-webkit-scrollbar {
    display: none;
  }

// alert
.alert-notif {
    position: relative;
    padding: 5px 15px 0px 15px;
    margin-bottom: 0px;
    .media{
        margin-top: 0px;
    }
    div.notif-new{
        position: absolute;
        background: #f44336;
        border-radius: 50%;
        width: 50px;
        height: 20px;
        right: -10px;
        top: -5px;
        text-align: center;
        user-select: none;
        
        & > .status{
            // margin-top: -1px;
            // margin-right: 1px;
            color: #FFF;
        }
    }
}
.dropdown .dropdown-menu .alert-menu-link a{
    padding: 3px 15px!important;
    outline: none;
}

.alert-info-detail {
    border-right: 1px solid rgb(181, 179, 190);   
}

.alert-detail ul li {
    padding: 4px 0 4px 15px!important;
}

.alert-detail-label {
    padding: 0;
}

.alert-detail-value{
    padding-left: 0px;
}
.ip-detail-center {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 8px 8px ;
}
.z-depth-src-ip {
    border: 1px solid rgb(59, 121, 148);
    border-radius: 5px;
}

.card .card-body ul li, .card .card-body ul li div, .ip-detail-center .ip-detail-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.hr-toggle {
    background: var(--dt-colors-border-neutral-default,#d5d5e1);
    height: var(--dt-borders-width-default,1px);
    margin: var(--dt-spacings-size-4,4px) var(--dt-spacings-size-0,0) var(--dt-spacings-size-0,0) var(--dt-spacings-size-0,0);
}

.system-apps .well {
    margin-bottom: 3px;
}

.icon-app {
    width: 50px;
    height: 45px;
    border-radius: 2px;
    max-width: 50px;
    min-width: 50px;
    max-height: 45px;
    min-height: 45px;
    margin: auto;
    flex-grow: 1;
}

.img-icon-app {
    width: 50px;
    height: 45px;
    border-radius: 2px;
    max-width: 50px;
    min-width: 50px;
    max-height: 45px;
    min-height: 45px;
}

.system-app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0px;
}

.name-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.icon-connect {
    font-size: 22px;
    width: 25px;
}

.icon-tooltip-detail {
    font-size: 15px;
}
//

.full-round-txt{
    padding-top: 17%;
    color: #FFF;
    text-align: center;
    padding-right: 1px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
/* Perfect Scrollbar override attributes */
.ps__rail-y {
    width: 5px;
    top: 0 !important;
    right: 2px !important;
}
.ps__thumb-y{
    width: 5px !important;
    right: 0px !important;
}
.ps__rail-y:focus > .ps__thumb-y, 
.ps__rail-y:hover > .ps__thumb-y {
    width: 5px !important;
    right: 0px !important;
}

// typeahead
typeahead-container h5{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}


/* NOTIFY GROWL */
.alert.alert-inverse{
    background: #454545;
    color: #FFF;
    button.close:hover{
        color: #FFF !important;       
    }
}
/* sweet-alert */
// .sweet-alert {
//     border-radius: 2px;
//     padding: 10px 30px
// }
// .sweet-alert h2 {
//     font-size: 16px;
//     font-weight: 400;
//     position: relative;
//     z-index: 1
// }
// .sweet-alert .lead {
//     font-size: 13px
// }
// .sweet-alert .btn {
//     padding: 6px 12px;
//     font-size: 13px;
//     margin: 20px 2px 0
// }

